.word {
    display: flex;
    gap: 10px;
}

.tile {

    width: 60px;
    height: 60px;

    text-align: center;

    font-size: 2rem;
    font-weight: bold;

    text-transform: uppercase;

    border: 2px solid #d1d5db;
    border-radius: 8px;

    caret-color: transparent;
}

.tile::placeholder {
    color: #c0c0c0;
    /* Light grey */
    opacity: 1;
    /* Required for Firefox */
}